name: local_database
description: A new Flutter project.
version: 0.0.1
homepage:

environment:
  sdk: '>=3.6.0 <4.0.0'
  
dependencies:
  flutter:
    sdk: flutter
  floor: ^1.5.0
  sqflite: 2.3.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  floor_generator: ^1.5.0
  build_runner: ^2.4.13

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
